html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}

:root {
  --dvh-with-fallback: 100vh;
  --padding: 2rem;
  --padding-big: 5rem;

  --font-size-heading: 3rem;
  --font-weight-heading: 800;

  --font-size-subheading: 2rem;

  --font-size-landing: 3.7rem;
  --font-weight-landing: 700;

  --font-size-paragraph: 1.5rem;
  --font-weight-paragraph: 600;

  --font-size-landing-mobile: 2.3rem;
  --font-weight-landing-mobile: 800;

  --font-size-paragraph-mobile: 1.2rem;
  --font-weight-paragraph-mobile: 500;

}

@supports (height: 100dvh) {

  /*only executed if the browser suppots it*/
  :root {
    --dvh-with-fallback: 100dvh;
  }
}

/*  ----------------Landing Section---------------- */
.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--dvh-with-fallback);
  width: 100%;
  padding: var(--padding);
  background-image: url(/images/balkouras-nicos--tJcdoXAtlQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.landing-section-header,
.landing-section-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-landing);
  font-weight: var(--font-weight-landing);
}

.landing-section-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-horizontal {
  width: 20rem;
  height: 0.5rem;
  background-color: aliceblue;
}

.box-vertical {
  width: 0.5rem;
  height: 20rem;
  background-color: aliceblue;
}

/*  ----------------About Section---------------- */
.about-section h1 {
  text-align: center;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  padding: var(--padding) 0;
}

.about-section p {
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
  max-width: 70ch;
}

.about-section-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-big);
  padding-bottom: var(--padding-big);
}

.image-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-container img {
  border: 2px solid white;
  max-width: min(30%, 55ch);
}

/*  ----------------Cars Section---------------- */
.cars-section {
  text-align: center;
}

.cars-section h1 {
  font-size: 4rem;
  padding-top: var(--padding-big);
  padding-bottom: var(--padding)
}

.cars-section h2 {
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-subheading);
  text-align: center;
}

.image-container-cars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: var(--padding-big) 0;
}

.image-container-cars img {
  padding: 0.5rem;
  border: 2px solid white;
  object-fit: contain;
  height: 50vh;
  width: auto;
}

/*  ----------------Contact Section---------------- */
.contact-section {
  background-image: url(/images/swansway-motor-group-wnz9awGVA9w-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: var(--dvh-with-fallback);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-section h1 {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
}

.contact-section p {
  font-weight: 500;
  font-size: var(--font-size-paragraph);
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  background-color: hsla(0, 0%, 0%, 0.616);
  max-width: max-content;
  margin-top: var(--padding);
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 35vw;
  gap: 0.5rem
}

.forms input,
.forms textarea {
  resize: none;
  padding: 0.5rem;
  border: 1px solid rgb(240, 240, 240);
  background: hsla(99, 7%, 13%, 0.4);
  cursor: text;
  color: white;
}

.forms label {
  font-size: 1.4rem;
}

.forms button {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
}

.forms button:active {
  background-color: transparent;
  color: white;
}


@media only screen and (max-width: 800px) {

  /*  ----------------Landing Section---------------- */
  .landing-section {
    justify-content: center;
    gap: 2rem
  }

  .landing-section-header,
  .landing-section-footer {
    flex-direction: column;
    gap: 2rem;
    font-size: var(--font-size-landing-mobile);
  }

  .landing-section-header span {
    text-decoration: underline;
    font-weight: var(--font-weight-landing-mobile);
  }

  .box-horizontal,
  .box-vertical,
  .landing-section-middle {
    display: none;
  }

  /*  ----------------Cars Section---------------- */
  .image-container-cars {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }

  .image-container-cars img {
    height: auto;
    width: fit-content;
  }

  .about-section p {
    font-size: var(--font-size-paragraph-mobile);
    font-weight: var(--font-weight-paragraph-mobile);
  }

  .about-section-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 var(--padding);
    gap: var(--padding);
    padding-bottom: var(--padding);
  }

  /*  ----------------Contact Section---------------- */
  .input-group {
    width: 80vw;
  }



}